.welcome {
    text-align: center;
    margin-top: 2rem;

    h2 {
        font-size: 2rem;
        color: var(--color-text-primary);
    }

    p {
        font-size: 1.2rem;
        color: var(--color-text-primary);
        margin-top: 1rem;
    }
}