.gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    justify-items: center;
    align-content: flex-start;

    @media (max-width: 1850px) {
    grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1500px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1150px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}